* {
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
}

/*Set global fonts for application*/
h1,
h2,
h3,
h4,
h5,
h6,
label,
textarea,
input,
button,
.deleteMe{
   font-family: Helvetica, "Century Gothic", Arial, sans-serif;
   font-weight: 100;
}

h1, 
h2 {
   margin-top: 15px;
   margin-bottom: 15px;
}

body {
   padding-left: 200px;
   padding-top: 50px;
}

#blanksWraperUI {
   margin-top: 30px;
   margin-left: 20px;
}


/*Strip appearance*/
label,
textarea,
input:not([type='checkbox']),
button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

label,
textarea,
input[type="text"],
input[type="number"]{
   display: block;
   margin: 15px 0px;
   border: 1px solid #dddddd;
   display: block;
   margin: 0px 0px 25px 0px;
   padding: 5px;
   width: 300px;
}

#csvIn {
   height: 300px;
   width: 800px;
}

#variablesUI {
   height: 100px;
   width: 400px;
   resize: none;
}

button {
   margin-bottom: 15px;
   padding: 5px;
   border-radius: 2.5px;
   background: #0076C6;
   color: #FFF;
   border: 2px solid #0066ab;
}

button:active {   
   border: 2px solid #0076C6;
   background: #006bb3;
}

.blank {
   position: relative;
   padding: 10px;
   padding-bottom: 30px;
   margin: 10px;
   border: 1px solid #888;
   border-radius: 5px;
}

.blank:nth-child(odd) {
   background-color: #e8e8e8;
}

.deleteMe {
   border: #006bb3 2px solid;
   color: #ececec;
   background-color: #0074c2;
   cursor: pointer;
   width: 50px;
}