{{#each blanks}}
<div class="blank">
   <div class="deleteMe">Delete</div>
   <h3>Question Text</h3>
   <textarea class="text">{{text}}</textarea>

   <h3>List of answers for blank</h3>
   <textarea class="answers">{{jsonString answers}}</textarea>
   <label>
      <input type="checkbox" class="isRegEx" {{#if isRegEx}}checked{{/if}}> Convert number answers to regular expressions
   </label>

   <h3>Tolerance</h3>
   <input type="text" class="tolerance" value="{{tolerance}}">

   <h3>Place value behind the decimal to round to</h3>
   <select class="numOfDigits">
      <option value="8">10^8</option>
      <option value="7">10^7</option>
      <option value="6">10^6</option>
      <option value="5">10^5</option>
      <option value="4">10^4</option>
      <option value="3">10^3</option>
      <option value="2">10^2</option>
      <option value="1">10</option>
      <option value="0" selected>0</option>
      <option value="-1">10^-1</option>
      <option value="-2">10^-2</option>
      <option value="-3">10^-3</option>
      <option value="-4">10^-4</option>
      <option value="-5">10^-5</option>
      <option value="-6">10^-6</option>
      <option value="-7">10^-7</option>
      <option value="-8">10^-8</option>
   </select>
</div>
{{/each}}
