{{#each blanks}}
<div class="blank">
   <div class="deleteMe">Delete</div>
   <h3>Question Text</h3>
   <textarea class="text">{{text}}</textarea>

   <h3>List of answers for blank</h3>
   <textarea class="answers">{{jsonString answers}}</textarea>
   <lable>
      <input type="checkbox" class="isRegEx" {{#if isRegEx}}checked{{/if}}> Convert number answers to regular expressions
   </lable>

   <h3>Tolerance</h3>
   <input type="text" class="tolerance" value="{{tolerance}}">

   <h3>Place value behind the decimal to round to</h3>
   <select class="numOfDigits">
      <option value="0" selected>0 Decimal</option>
      <option value="1">1</option>
      <option value="2">10</option>
      <option value="3">100</option>
      <option value="4">1000</option>
      <option value="5">10000</option>
      <option value="6">100000</option>
      <option value="7">1000000</option>
   </select>
</div>
{{/each}}
